@media (max-width:640px) {
    /*mobil*/
    h1{
        color: blue;
    }
    #tableta, #Laptop, #pc{
        display: none;
    }
}

@media (min-width:641px) and (max-width: 767px) {
/*tableta*/
h1{
    color: aqua;
    
}
#mob, #Laptop, #pc{
    display: none;
}
}

@media (min-width:768px) and (max-width: 1200px) {
/*laptop*/
h1{
    color: red;
}
#mob, #tableta, #pc{ 
    display: none;
}
}

@media (min-width: 1201px) {
    h1{
        color: green;
    }
    /*PC*/
    #mob, #Laptop, #tableta{
        display: none;
    }

}

